body {
  overflow: scroll;
  font-family: Arial, sans-serif;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 50px auto;
  max-width: 400px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  color: whitesmoke;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.image-container {
  margin: 20px 0;
  text-align: center;
}

#foxImage {
  max-width: 100%;
  height: auto;
}

.b {
  text-align: center;
  padding: 10px 10px;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
body {
  overflow: scroll;
  font-family: Arial, sans-serif;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 20px auto;
  max-width: 45%;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  color: whitesmoke;
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.image-container {
  margin: 20px 0;
  text-align: center;
}

#foxImage {
  max-width: 100%;
  height: auto;
}

.b {
  text-align: center;
  padding: 10px 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container {
    margin: 10px auto;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  button {
    padding: 8px 16px;
  }
}
